nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #2377A4;
}
nav .navbar-brand .gray
{
    color: #9CB2CE;
}
nav .navbar-brand .black
{
    color: #101010;
}

/*main .form-control*/
/*{*/
/*    !* Center form controls *!*/
/*    display: inline-block;*/

/*    !* Override Bootstrap's 100% width for form controls *!*/
/*    width: auto;*/
/*}*/

/*main*/
/*{*/
/*    !* Scroll horizontally as needed *!*/
/*    overflow-x: auto;*/

/*    !* Center contents *!*/
/*    text-align: center;*/
/*    !*min-width: fit-content;*!*/
/*}*/

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
table{
    text-align: left;
}
table tfoot{
    font-weight: bold;

}
table thead{
    font-size: 12px;
}
table tbody{
    font-size: 11px;
}

th .th-inner{
    white-space: nowrap
}
.table thead th{
    padding: 5px;

}
.table .search-input, .table .custom-select {
    font-size: smaller
}

.table #lot_id, .table #pickup, .table #delivery{
    max-width:110px;
    font-size: smaller
}
.table #dh-d, .table #dh-o{
    max-width:60px;
}
.table #weight, .table #rate{
    max-width: 90px;
}
.card-body{
    min-height: 320px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}